@import "tailwindcss";

@font-face {
  font-family: "pinar";
  src: url("/Pinar-DS4-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pinar";
  src: url("/Pinar-DS4-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pinar";
  src: url("/Pinar-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Main colors */
  --background: #FFFFFF;
  --foreground: #191a0d;

  /* Surfaces */
  --surface: #1900ff;
  --surface-muted: #e6dfc378;

  /* Text */
  --text-primary: #010000;
  --text-secondary: #00000079;
  --text-muted: #00000072;

  /* Borders */
  --border: #f7ffd2d5;
  --border-strong: #fffbda;

  /* Brand */
  --primary: #000000ad;
  --primary-hover: #000000;

  /* Accent */
  --accent: #b7ff00;
  --accent-hover: #5B6938;

  /* Status */
  --success: #3a7750;
  --warning: #B17A35;
  --danger: #B94A48;
}

* {
  box-sizing: border-box;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "pinar", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
button,
input,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: 2rem;
}

.nad {
  color: var(--success);
}
